{
    "env": {
      "browser": true,
      "es6": true
    },
    "extends": [
      "plugin:cypress/recommended",
      "prettier",
      "prettier/@typescript-eslint",
    ],
    "parser": "babel-eslint",
    "plugins": ["prettier", "cypress"],
    "rules": {
      "func-names": "off",
      "jest/expect-expect": "off",
      "jest/valid-expect": 1,
      // Limit Maximum Length of Line (max-len)
      "max-len": [
          1, 200, 2
      ],
      // Prettier
      "prettier/prettier": ["error"],
      // New rules
      "comma-dangle": ["error", "never"],
      "arrow-parens": ["error", "as-needed"],
      "implicit-arrow-linebreak": "off",
      "no-multiple-empty-lines": [
        "error",
        {
          "max": 1
        }
      ],
      "no-unused-expressions": "off",
      "import/no-cycle": 1,
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "ts": "never"
        }
      ]
    }
  }